
body {
    height: 100%;
    max-width: 1000px;
    margin: 8px;
    background-color: #ffaf00;
}

.column,
.columns {
    margin-left: 2%;
}


.row {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: -12px;
}

.map-info,
#school-info,
#leaderboard {
    background-color: #efebde;
    height: 500px;
    padding: 16px;
}

#map {
    height: 90%;
    margin-bottom: 15px;
}
#color-div {
    height: 7%;
}

#color-scale {
    line-height: 0.5;
    margin: 0px;
}

.centered {
    text-align: center;
}
.centered img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.v-centered {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.v-start {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}


/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;

}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    opacity: 0.9;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid grey;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#sg-top-10 {
    counter-reset: hash;
    list-style-type: none;
}

li:before {
    counter-increment: hash;
    content: "#" counter(hash) ". ";
}
